html, body {
  font-family: sans-serif;
}

.legend {
  background-color: white;
}

.legend > h2 {
  color: #555;
  margin: 10px 0;
  font-size: 16px;
}

.legend-section {
  padding-left: 20px;
  float: left;
}

.legend-section > h3 {
  margin:0;
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

.legend-colors, .legend-labels {
  float:left;
}

.legend-colors {
  margin-top:10px;
  border:solid 1px #ccc;
}

.legend-color {
  width:20px;
  height:20px;
}

.legend-label {
  color: #999;
  padding-left:10px;
  height:20px;
  font-size: 12px;
  line-height: 20px;
}

