/* Copyright © 2016 RTE Réseau de transport d’électricité */
html, body {
  font-family: sans-serif;
}

.legend {
  margin: 0 5px;
}

.legend > h2 {
  color: #555;
  margin: 5px 0 0 0;
  font-size: 16px;
}

.legend-section {
  padding-left: 14px;
  float: left;
}

.legend-section > h3 {
  margin:0;
  color: #999;
  font-size: 12px;
  font-weight: normal;
}

.legend-colors, .legend-colors-cat, .legend-labels, .legend-symbols {
  float:left;
}

.legend-colors {
  margin-top:6px;
  border:solid 1px #ccc;
}

.legend-color {
  width:14px;
  height:14px;
}

.legend-color-cat {
  width:14px;
  height:10px;
  margin: 2px 0 4px 0;
}

.legend-label {
  color: #999;
  padding-left:5px;
  font-size: 9px;
  line-height: 14px;
}

.legend svg .legend-label {
  fill: #999;
  font-size: 9px;
}

.legend svg line {
  stroke: #ccc;
}

.legend-symbols > svg {
  display:block;
  margin: 2px 0;
}

.btn-link {
  background-image: none;
  border: 1px solid transparent;
  background-color:transparent;
  cursor: pointer;
  color: #337ab7;
  float:right;
}

.btn-link:hover {
  text-decoration: underline;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.leaflet-container {
    background: #fff;
    border: solid 1px #ccc;
}
